{% extends "useradmin/home.html" %}

{% block pagehead %}
    ADD STAFF
{% endblock %}




{% block addbutton %}
    <a href="{% url 'useradmin-home' %}"><button type="button" class="btn btn-success">Back</button></a>
{% endblock %}

{% block filterbutton%}
    
    
{% endblock %}

{% block searchfield %}
    
{% endblock%}

{% block searchbutton %}
{% endblock %}

{% block data-table %}
    <div class= "container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{form.username}}
                {{form.password}}
                {{form.date_joined}}
                {{form.name}}
                {{form.user_type}}
                {{form.father_name}}
                {{form.gender}}
                {{form.address}}
                {{form.im}}
                {{form.qualification}}
                {{form.added_by}}
                
                <br>
                {{form.join_date}}
                {{form.till}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}

