{% extends "useradmin/base.html" %}


{% block body %}
    <br>
    <h2>Staff</h2>
    <br>
    <div class="card" id="main_card">
        <div class="card-body" style = "overflow-y:auto;">
            <div class="row justify-content-between">
                <div class="col-2">
                    <a href="{% url 'useradmin-getstaff' %}"><button type="button" class="btn btn-success">Add</button></a>
                </div>
                <div class = "col-10">
                    <div class="row justify-content-end" style="width: 100%;">
                        <div class="col-2" style = "width:130px;">
                            <select class="form-select" aria-label="Default select example" id="typefilter">
                                <option value="1">Name</option>
                                <option value="2">Father name</option>
                                <option value="3">Qualification</option>
                                <option value="4">Address</option>
                                <option value="5">Added by</option>
                            </select>
                        </div>
                        <div class="col-2" style = "width:130px;">
                            <input type="text" class="form-control" id="tofilter" placeholder="abc">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-primary" onclick="stafffilter()">Search</button>
                        </div>
                        <script>
                            function stafffilter()
                            {
                                a = document.getElementById("typefilter").value;
                                b = document.getElementById("tofilter").value;
                                console.log("a", a, "b", b)
                                c_url = "filter/"+a+"/"+b+"/";
                                console.log("link is", c_url);

                                window.location.href = c_url;
                            }
                        </script>
                    </div>
                </div>
            </div>
            <br><br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Father Name</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Address</th>
                        <th scope="col">Added by</th>
                        <th scope="col">
                            Joining date
                            <span class="material-symbols-outlined" style="cursor:pointer;" id="date_order_button" onclick = "orderdates()">
                                expand_circle_down
                            </span>
                            <script>
                                function oderdates()
                                {
                                    window.location.href = "/orderdesc/1/"
                                }
                            </script>
                        </th>
                        <th scope="col">Till</th>
                        <th scope="col">OP</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <th>{{obj.id}}</th>
                        <td>
                            <img src="{{obj.im.url}}" style="height:100px; border-radius: 10px;">
                        </td>
                        <td>{{obj.name}}</td>
                        <td>{{obj.father_name}}</td>
                        <td>{{obj.qualification}}</td>
                        <td>{{obj.address}}</td>
                        <td>{{obj.added_by}}</td>
                        <td>{{obj.join_date}}</td>
                        <td>
                            {% if obj.till is None %}
                                Working
                            {% endif %}
                        </td>
                        <td>
                            <a href="update/{{obj.id}}/">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <span class="material-symbols-outlined">
                                        update
                                    </span>
                                </button>
                            </a>
                            <a href="delete/{{obj.id}}/">
                                <button type="button" class="btn btn-danger btn-sm">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}