{% extends "useradmin/home.html" %}

{% block pagehead %}
    ADD STUDENT
{% endblock %}




{% block addbutton %}
    <a href="{% url 'staff-home' %}"><button type="button" class="btn btn-success">Back</button></a>
{% endblock %}

{% block filterbutton%}
    
    
{% endblock %}

{% block searchfield %}
    
{% endblock%}

{% block searchbutton %}
{% endblock %}

{% block data-table %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.username}}
        {{form.password}}
        {{form.date_joined}}
        <br>
        {{form.name}}
        {{form.user_type}}
        {{form.father_name}}
        {{form.gender}}
        {{form.address}}
        {{form.im}}
        {{form.sclass}}
        {{form.DOB}}
        {{form.admitted_by}}
        {{form.date_time}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
